[submodule "ext/osshs-protocol"]
	path = ext/osshs-protocol
	url = git@github.com:linasnikis/osshs-protocol.git
[submodule "ext/magic_enum"]
	path = ext/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "ext/modm"]
	path = ext/modm
	url = git@github.com:linasnikis/modm.git
